# Dependencies
node_modules/
package-lock.json

# Build Artifacts
dist/

# NPM Configuration
.npmrc

# Husky Configuration
.husky/

# ESLint Cache
.eslintcache

# Jest and Testing
coverage/
test-results/
.jest-cache/
